@{
    ViewData["Title"] = "Home Page";
}
<div class="content">
    <div class="intro-y flex items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            @ViewData["Title"]
        </h2>
    </div>
    <div class="box p-5 mt-5">
        @using (Html.BeginForm())
        {
           
        }
    </div>
</div>